.nav {
    width: 280px !important;
}


.line {
    width: 230px !important;
}

.con {
    width: 160px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 1 !important;
}

.ricon {
    width: 60px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 1 !important;
}

.serve {
    width: 230px !important;
}

.switch {
    width: 230px !important;
}